<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= siteTitle %></title>
  </head>
  <body>
    <main>
      <section>
        <h1 class="site-title"><%= siteTitle %></h1>
      </section>
      <section>
        <div class="code-section">
          <div class="code-ctr">
            <p class="code"></p>
          </div>
          <div class="generate-btn-ctr">
            <button class="generate-btn"><%= buttonLabel %></button>
          </div>
        </div>
      </section>
      <section>
        <div class="description-section">
          <div class="luna-img-ctr">
            <img
              class="site-img"
              src="<%= require('./img/Luna.png') %>"
              alt="Luna from Animal Crossing"
            />
          </div>
          <div class="dialog-img-ctr">
            <img
              class="site-img"
              src="<%= require('./img/dialog.png') %>"
              alt="Dialog box showing site description"
            />
          </div>
        </div>
        <p class="disclaimer"><%= disclaimer %></p>
      </section>
      <footer>
        <p class="footer-text">
          Crafted by <a href="<%= portfolioLink %>"><%= devName %></a>
        </p>
      </footer>
    </main>
  </body>
</html>
